body {
  background-color: #FFF;
}

h1  {
  color: #f40808;
}

div#test01 {
  color: #00a;
}

.important {
  color: #a00;
}

td {
  text-align: center;
  border: solid thin;
}

th {
  border: solid thin;
}

.last3{
  font-weight: bold;
}
.ol {
  background-color: rgb(113, 172, 172);
}
.header {
  background-color: lightpink;
}